<h1>Listing review_types</h1>

<table>
  <tr>
    <th>App</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @review_types.each do |review_type| %>
  <tr>
    <td><%= review_type.app_id %></td>
    <td><%= review_type.name %></td>
    <td><%= link_to 'Show', review_type %></td>
    <td><%= link_to 'Edit', edit_review_type_path(review_type) %></td>
    <td><%= link_to 'Destroy', review_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review type', new_review_type_path %>
