<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :app_id %><br />
    <%= f.text_field :app_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br />
    <%= f.text_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :user_ref %><br />
    <%= f.text_field :user_ref %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :helpful_count %><br />
    <%= f.text_field :helpful_count %>
  </div>
  <div class="field">
    <%= f.label :helpful_score %><br />
    <%= f.text_field :helpful_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
